@import "../../bower_components/bootstrap/less/variables.less";
@import "bs/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";

@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/print.less";

@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/buttons.less";

@import "../../bower_components/bootstrap/less/dropdowns.less";
@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/navbar.less";

body {
	background: url('../img/bg.jpg') center top no-repeat, url('../img/bg.png');
	overflow-x: hidden;
}

nav.main {
	margin: 30px 0;

	.navbar-brand {
		text-indent: -9999px;
		background: url('../img/logo.png') center center no-repeat;
		position: relative;
		top: -7px;
	}

	> ul > li {
		float: right;
	}

	> a, > ul > li > a {
		line-height: 3em;
		text-transform: uppercase;
		font-weight: 200;
	}

	.bar {
		&::after {
			content: "\00a0";
			position: absolute;
			width: 50000px;
			height: 100%;
			background: #fff;
			display: block;
			top: 0px;
			z-index: -10;
		}

		.bar(@text-color, @background) {

			> li > a, .caret {
				color: @text-color;
			}

			.caret {
				border-top-color: @text-color;
				border-bottom-color: @text-color;
			}

			.open > a, a:focus, a:hover {
				background: darken(@background, 10%);
			}

			&::after {
				background: @background;
			}
		}

		&.red {
			.bar(#fff, #f02311);

			&::after {
				left: 10px;
			}
		}

		&.white {
			.bar(#000, #fff);

			&::after {
				right: 10px;
			}
		}
	}
}