<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SpartanHost</title>
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
		<div class="pagecontent">
			<h1>Careers</h1>
			<p>Spartan Host has the best and most motivated support team in the hosting industry.</p>

			<p>To keep our high standards up, we are currently hiring!</p>

			<p>Available positions are listed below:</p>

			<h3>Support/sales representative</h3>

			<p>Responsibilities:</p>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>

			<p>Requirements:</p>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>

			<p>Helpful Attributes:</p>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>

		</div>
	</div>
	{{> footer}}
</body>
</html>