<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spartan Host - Careers</title>
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
		<div class="pagecontent">
			<h1>Careers</h1>
			<p>Spartan Host has the best and most motivated support team in the hosting industry.</p>

			<p>To keep our high standards up, we are currently hiring!</p>

			<p>If you're interested in applying for a position at Spartan Host then email your Résumé/CV to careers@spartanhost.net</p>
			<p>Available positions are listed below:</p>

			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					None
				</div>
				<div class="body">
					<h3>None/h3>

					<p>Responsibilities:</p>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<p>Requirements:</p>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<p>Helpful Attributes:</p>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</p>
			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>