<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spartan Host - FAQ</title>
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
		<div class="pagecontent">
			<h1>Frequently Asked Questions</h1>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					What kind of control panel am I provided with for my server?
				</div>
				<p class="body">
					We use the most efficient minecraft server control panel out there, multicraft! <a href="http://demo.multicraft.org/index.php?r=site/page&amp;view=home">Click here for a demo!</a>
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Do we support custom jars?
				</div>
				<p class="body">
					We provide customers with a wide range of jars and modpacks to select from but if we do not provide the jar you would like to use then you may use a custom jar by uploading it via FTP and entering the name of your jar into multicraft.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Will my server get suspended if I don’t pay on time?
				</div>
				<p class="body">
					As soon as an invoice is overdue we suspend your server. We will then give you 5 days to pay the invoice before we delete your server files.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					I want to upgrade my plan, can I?
				</div>
				<p class="body">
					You most certainly can. Simply go to our billing panel then click on services -&gt; my services. Then click 'view details' beside your minecraft plan, click 'management actions' and then 'upgrade/downgrade'.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Do you provide mysql databases with all plans?
				</div>
				<p class="body">
					Yes, we do. You can view the details of your database by logging into our control panel <a href="http://cp.spartanhost.net">here</a>, clicking your server and then clicking MYSQL database under advanced.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					How long does it take to setup my server after payment?
				</div>
				<p class="body">
					As soon as your payment is received our automated system creates your server immediately so you can start playing straight away!
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					What are your server specifications?
				</div>
				<p class="body">
					All our premium nodes run E3 Xeon processors, 32gb ram and 1 Gbps uplink! Our budget nodes run L5520 processors with 72gb RAM and 100mb/s uplink!
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Where are your servers located?
				</div>
				<p class="body">
					We currently have two locations for premium: Phoenix, Arizona (West US) and Strasbourg, Eastern France (Central Europe) and one location for budget: Seattle, Washington (West US).
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					What is the difference between your Budget Hosting and Premium Hosting?
				</div>
				<p class="body">
					The main difference between our Budget Hosting and Premium Hosting plans is the processor we use. For our Premium Plans we use E3 - 1245v2, E3 - 1240v3 and E3 - 1245v3 processors with 1gb/s uplink and SSDs whereas with our Budget Plans we use Intel Xeon L5520 processors with 100mb/s uplink and HDDs. Our Premium nodes are less crowded and under less load whereas our Budget nodes would be under more load as we fit more servers onto them. Premium plans also include free webhosting on all RAM plans and free dedicated IPs if you order 4GB RAM or more, Budget plans do not offer these features for free.
					<br><br>
					Our Budget Hosting plans are suitable for small to medium sized servers and our Premium Hosting plans are suitable for medium to large sized servers.
				<p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Am I able to add and remove plugins myself?
				</div>
				<p class="body">
					Of course you can! We provide full FTP access for all our servers so you can add and remove plugins to your liking. You can access FTP by logging into our control panel <a href="http://cp.spartanhost.net">here</a>, clicking on files and then FTP File Access. We recommend using a FTP client such as Filezilla to connect to FTP.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Am I able to get a dedicated IP? (Port 25565)
				</div>
				<p class="body">
					Yes, for premium all our 4GB RAM and above packages include a dedicated IP! If you decide to choose a package below 4GB RAM then you can pick the Dedicated IP addon at the checkout for only $0! If you choose a budget server then you must pay $0 extra no matter which plan you get.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					Will my server be up 24/7?
				</div>
				<p class="body">
					We have a 99% uptime guarantee*, if we go below this you will be compensated! *Applies to Premium plans only.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					I've paid for my server but I've received no information about it, what do I do?
				</div>
				<p class="body">
					We are very sorry that this has happened to you. If you did not enter an email when registering then this will be why you received no information. If you did, please check your spam box. If you don't find it there then please check the <a href="http://billing.spartanhost.net">billing centre's</a> E-Mail tab. If you do not see anything there then please open a support ticket with the billing department.
				</p>
			</div>
			<div class="faqbox">
				<div class="head"><i class="fa fa-plus"></i>
					I want to cancel my server, how do I do so?
				</div>
				<p class="body">
					If you would like to cancel your server then please make a ticket in our <a href="http://billing.spartanhost.net">billing centre</a> stating that you would like to cancel.
				</p>
			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>