	<footer class="container">
		<div class="col-md-6">
			<a href="http://spartanhost.net/terms">Terms of Service</a> | <a href="http://spartanhost.net/careers">Careers</a>
		</div>
		<div class="col-md-6 text-right">
			Copyright 2013 SpartanHost. <a href="http://vector-media.net/">Designed</a>.
		</div>
	</footer>