	<div class="container">
		<nav class="main"> 
			<a class="navbar-brand col-md-2" href="http://spartanhost.com">SpartanHost</a>
			<div class="col-md-7">	
				<ul class="nav navbar-nav navbar-right white bar">
					<li><a href="http://spartanhost.com">Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="https://billing.spartanhost.net/cart.php?gid=3">Budget Minecraft Plans</a></li>
							<li><a href="https://billing.spartanhost.net/cart.php?gid=1">Premium Minecraft Plans</a></li>
							<li><a href="https://billing.spartanhost.net/cart.php?gid=8">Dedicated Server Plans</a></li>
							<li><a href="https://billing.spartanhost.net/cart.php?gid=7">DDoS Protection Plans</a></li>
							<li><a href="https://billing.spartanhost.net/cart.php?gid=2">Web Hosting Plans</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="http://spartanhost.com/faq">FAQ</a></li>
							<li><a href="https://billing.spartanhost.net/">Client Area</a></li>
							<li><a href="https://billing.spartanhost.net/contact.php">Contact Us</a></li>
							<li><a href="http://spartanhost.com/irc">IRC Chat</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="nav navbar-nav red bar">
					<li><a href="http://cp.spartanhost.net/">Multicraft</a></li>
					<li><a href="https://billing.spartanhost.net/">Client Area</a></li>
				</ul>
			</div>
		</nav>
		<div class="clearfix"></div>
	</div>