	<div class="container">
		<nav class="main"> 
			<a class="navbar-brand col-md-2" href="#">SpartanHost</a>
			<ul class="nav navbar-nav col-md-7 white bar">
				<li><a href="#">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Plans <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Budget Minecraft Plans</a></li>
						<li><a href="#">Premium Minecraft Plans</a></li>
						<li><a href="#">Dedicated Server Plans</a></li>
						<li><a href="#">DDoS Protection Plans</a></li>
						<li><a href="#">Web Hosting Plans</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Client Area</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">IRC Chat</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav col-md-3 red bar">
				<li><a href="#">Multicraft</a></li>
				<li><a href="#">Client Area</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</div>