<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SpartanHost</title>
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?1GsTVWooV1Sx6Q4uCrt4xLs1t67Qwdma';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
		<div class="row intro">
			<div class="col-md-7 punchline">
				In the battle to be the best Minecraft<br>host, one host always wins. After all, <span>This Is Sparta</span>
			</div>
			<div class="col-md-5">
				<div class="box white">
					<table>
						<tr>
							<td>Minecraft Servers<br><b>Starting From</b></td>
							<td class="fsize-15 text-center"><span class="headline price">3.50</span></td>
						</tr>
					</table>
				</div>
				<div class="box red">
					<div class="text-center">
						<b>50% Off</b> with Promo</b>
						<span class="headline">BLACKFRI2013</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blackbanner" id="js-stater">
		<div class="container">
			<div class="col-md-4">
				<span data-stat="clients">...</span>
				<small><i class="fa fa-users"></i> Happy Clients</small>
			</div>
			<div class="col-md-4">
				<span data-stat="ram">...</span>
				<small><i class="fa fa-cogs"></i> GB RAM Active</small>
			</div>
			<div class="col-md-4">
				<span data-stat="players">...</span>
				<small><i class="fa fa-gamepad"></i> Players Served</small>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-md-6 featurebox">
			<h3>Powerful Hardware</h3>
			<p>We run only the best hardware that we can get our hands on to run our client's servers. We recognise that everyone is fed up with hosts that cut so many corners on hardware to reduce costs that it affects performance. We don't! We only run our servers on E3 Xeon processors with 32gb of ram!</p>
		</div>
		<div class="col-md-6 featurebox">
			<h3>Knowledgeable Support</h3>
			<p>Our support team is very knowledgable and enthusiastic about all the servers we host. This means that we can respond immediately and fix any issues that may arise. We provide a live chat service as well as support tickets!</p>
		</div>
	</div>
	<a class="buynowbanner" href="https://billing.spartanhost.net/cart.php?gid=1">
		Servers starting at $2.50 Buy Now <i class="fa fa-angle-double-right"></i>
	</a>
	{{> footer}}
</body>
</html>