<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spartan Host - IRC</title>
	{{> resources}}
</head>
<body>
	{{> header}}
	<div class="container">
		<div class="pagecontent">
			<h1>IRC Chat</h1>
			<div class="shadewrap">
				<iframe src="http://webchat.esper.net/?nick=&channels=spartanhost" seamless id="ircchat"></iframe>
			</div>
		</div>
	</div>
	{{> footer}}
</body>
</html>